.home-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    position: absolute;
    padding-bottom: 40px;
    overflow: hidden;
    .display(flex);
    .justify-content(center);
    .align-items(center);
    .flex-direction(column);

    @media @mobile {
        padding-bottom: 40px;
    }
}

.title-container {
    position: relative;
    height: 40%;
    width: 60%;
    border: 10px solid @color-offwhite;;
    .display(flex);
    .justify-content(center);
    .align-items(center);
    .flex-direction(column);

    @media @mobile {
        height: 60%;
        width: 80%;
    }

    &:before {
        position: absolute;
        height: 10px;
        width: 30px;
        background-color: @color-g10;
        color: red;
        display: block;
        content: "";
        top: -10px;
        left: 0;
    }

    &:after {
        position: absolute;
        height: 10px;
        width: 30px;
        background-color: @color-g10;
        color: red;
        display: block;
        content: "";
        bottom: -10px;
        right: 0;
    }

    h1 {
      text-transform: uppercase;
      color: @color-offwhite;;
      text-align: center;
    }

    h2 {
        color: @color-offwhite;;
    }
}

.social-container {
    margin: 40px 0 0 0;

    i {
        color: @color-offwhite;
        font-size: 24px;
        padding: 0 20px;

        &:hover {
            color: @color-primary;
        }
    }
}
