.home-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51,204,255,1.00);
    background-image: linear-gradient(180deg, rgba(245,158,189,1.00) 0%, rgba(254,203,133,1.00) 77%);
    position: absolute;
    padding-bottom: 40px;
    overflow: hidden;

    @media @mobile {
        padding-bottom: 40px;
    }
}

.home-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.ocean-wrapper {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background-color: rgba(51,204,255,1.00);
    background-image: linear-gradient(0deg, rgba(100,189,201,1.00) 0%, rgba(70,180,194,1.00) 100%);
}

.sky-wrapper {
    position: relative;
    top: 0;
    height: 70%;
    

    h1 {
        font-family: 'Pier', sans-serif;
        padding: 0 5%;
        font-size: 72px;
        color: @color-offwhite;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        top: 20%;
        line-height: normal;
        .translateZ(1px);
        position: relative;
        z-index: @z-index-3;
        .transition(all 0.5);
        
        @media @tablet {
            font-size: 50px;
        }

        @media @mobile {
            font-size: 40px;
        }
    }

    .link-container {
        position: relative;
        z-index: @z-index-3;
        .display(flex);
        width: 100%;
        .justify-content(center);
        top: 25%;

        .link {
            width: 40px;
            height: 40px;
            display: inline-block;
            border-radius: 50%;
            background-color: @color-offwhite;
            margin: 5px;
            .transition(0.3s);
            .display(flex);
            .justify-content(center);
            .align-items(center);
            
            i {
                color: @color-pink;
                width: 100%;
                text-align: center;
            }
            
            &:hover {
                background-color: @color-blue;

                i { 
                    color: @color-offwhite;
                }
            }
        }
    }
}


.city-wrapper {
    background-image: url('img/city.svg');
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-left: -50%;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center bottom;
    z-index: @z-index-2;

    @media @mobile {
        width: 200%;
    }
}

.bay-bridge {
    background-image: url('img/bay-bridge.svg');
    position: absolute;
    bottom: 0;
    left:0;
    width: 70%;
    height: 100%;
    margin-left: -27%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    z-index: @z-index-1;

    @media @mobile {
        display: none;
    }
}

.gg-bridge {
    background-image: url('img/gg-bridge.svg');
    position: absolute;
    bottom: 0;
    right:0;
    width: 70%;
    height: 100%;
    margin-right: -24%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    z-index: @z-index-1;

    @media @mobile {
        width: 180%;
        left: -40%;
        bottom: 40px;
    }
}


.bird-container {
  width: 75px;
  position: absolute;
  right: 50px;
  z-index: @z-index-4;

  @media @mobile {
    right: 10px;
  }

}

.bird {
  width: 60px;
  height: 60px;
  background-image: url('img/bird.svg');
}

/*bird: Animation*/
.bird-container {
  -webkit-animation: bird-scoping 2s alternate infinite;
  -moz-animation: bird-scoping 2s alternate infinite;
  animation: bird-scoping 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes bird-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.bird {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation: bird-soaring 4s forwards infinite;
  -moz-animation: bird-soaring 4s forwards infinite;
  animation: bird-soaring 4s forwards infinite;
}

@-webkit-keyframes bird-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  60% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  70% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.boat-container {
  width: 120%;
  margin-left: -20%;
  position: absolute;
  bottom: 0;
  z-index: @z-index-5;
}

.boat {
  width: 300px;
  height: 300px;
  background-image: url('img/boat.svg');

  @media @mobile {
    width: 200px;
    height: 200px;
  }
}

.boat-container {
  -webkit-animation: boat-scoping 30s alternate infinite;
  -moz-animation: boat-scoping 30s alternate infinite;
  animation: boat-scoping 30s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes boat-scoping {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(50%, -100px);
    -moz-transform: translate(50%, -100px);
    transform: translate(50%, -100px);
  }
  100% {
    -webkit-transform: translate(100%, 0px);
    -moz-transform: translate(100%, 0px);
    transform: translate(100%, 0px);
  }
}

.boat {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation: boat-soaring 30s forwards infinite;
  -moz-animation: boat-soaring 30s forwards infinite;
  animation: boat-soaring 30s forwards infinite;
}

@-webkit-keyframes boat-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  40% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  70% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  80% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg) rotateY(0deg);
    -moz-transform: rotate(0deg) rotateY(0deg);
    transform: rotate(0deg) rotateY(0deg);
  }
}

/**
 * Clouds
 */
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 0;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 14s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 14s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 14s;
}

.slow {
  -webkit-animation-duration: 15.2s;
  -moz-animation-duration: 15.2s;
  animation-duration: 15.2s;
}

.slower {
  -webkit-animation-duration: 21.2s;
  -moz-animation-duration: 21.2s;
  animation-duration: 21.2s;
}

.slowest {
  -webkit-animation-duration: 33.5s;
  -moz-animation-duration: 33.5s;
  animation-duration: 33.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.4;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
