<template name="addSong">
<section id="addSong" class="hidden">

    <div id="addSong-overlay" class="hidden"></div>
    <div id="addSong-container" class="hidden">
        <div id="addSong-close"><i class="fa fa-2x fa-times"></i></div>
        <h1 class="form-title">Add Song</h1>
        <h2 class="form-subtitle">Upload a track from soundcloud</h2>
        <form id="form-soundcloud-upload">
            <input type="text" placeholder="Soundcloud URL"/>
            <button class="btn-primary" type="submit">Upload</button>
            <p class="form-msg hide"></p>
        </form>
        
        <div class="form-upload-loading hide"><i class="fa fa-spinner fa-spin"></i></div>
        
        <form id="form-song-upload" class="hide">
        
            <div class="song-details">
                <img class="song-image" src="{{song_image}}"/>
                <div class="song-text">
                    <p class="song-title">{{song_title}}</p>
                    <p class="song-artist">{{song_artist}}</p>
                    <div class="switch switch-blue">
                        <input type="radio" class="switch-input" name="song-type" value="song" id="song-upload-song" checked>
                        <label for="song-upload-song" class="switch-label switch-label-off">Song</label>
                        <input type="radio" class="switch-input" name="song-type" value="mix" id="song-upload-mix">
                        <label for="song-upload-mix" class="switch-label switch-label-on">Mix</label>
                        <span class="switch-selection"></span>
                    </div>
                    
                    <p class="text-label">Add song to subs</p>
                    <div class="checkbox">
                        <input type="checkbox" disabled checked value="music" id="sub-music" name="song-sub" />
                        <label for="sub-music">/music</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" value="deep" id="sub-deep" name="song-sub" />
                        <label for="sub-deep">/deep</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" value="progressive" id="sub-progressive" name="song-sub" />
                        <label for="sub-progressive">/progressive</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" value="dub" id="sub-dub" name="song-sub" />
                        <label for="sub-dub">/dub</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" value="tropical" id="sub-tropical" name="song-sub" />
                        <label for="sub-tropical">/tropical</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" value="indie" id="sub-indie" name="song-sub" />
                        <label for="sub-indie">/indie</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" value="hiphop" id="sub-hiphop" name="song-sub" />
                        <label for="sub-hiphop">/hiphop</label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" value="pop" id="sub-pop" name="song-sub" />
                        <label for="sub-pop">/pop</label>
                    </div>

                </div>

            </div>
            <button class="btn-primary btn-full" type="submit">Submit Song</button>
            <p class="form-msg hide"></p>
        </form>

    </div>
</section>
</template>