<template name="drawer">
  
  <section id="drawer" class="hidden">
    
    <div id="drawer-overlay" class="hidden"></div>
    <div id="drawer-comments" class="hidden">
        <div id="drawer-close"><i class="fa fa-2x fa-times"></i></div>

        <div class="image-container">
            <div class='details'>
                <div class="drawer-song-play">
                    <i class="fa fa-3x fa-play"></i>
                </div>
                <div class="drawer-song-pause hide">
                    <i class="fa fa-3x fa-pause"></i>
                </div>
                <div class="visible-mobile drawer-song-favorite {{isSongFavorited}}">
                    <i class="fa fa-3x fa-heart"></i>
                </div>
                <div class="song-details">
                    <h1 title="{{expanded_song_details 'title'}}">{{expanded_song_details 'title'}}</h1>
                    <h2 title="{{expanded_song_owner_details 'username'}}">{{expanded_song_owner_details 'username'}}</h2>
                </div>
                <div class="hidden-mobile drawer-song-favorite {{isSongFavorited}}">
                    <i class="fa fa-3x fa-heart"></i>
                </div>
            </div>
            <div class="color-overlay"></div>
            <div class="image-wrapper" style="background-image: url({{expanded_song_artwork 't500x500'}})">
            </div>
        </div>

        <div class="subheader">
            <div class="filter-drawer">
                <a class="expanded-song-tab" name="details">Details</a>            
                <a class="expanded-song-tab selected" name="comments">{{expanded_song_comment_count}} Comments</a>
            </div>
        </div>


        <section class="comments comments-drawer" id="comment-scroll-box">
          
            {{#each expanded_song_comments}}
                {{> comment}}
            {{/each}}
    
        </section>

        <form id="add-comment" class="comments-drawer">
            <textarea type="text" rows="1" placeholder="Add your comment" required></textarea>
            <input class="btn-primary btn-add-comment hidden" type="submit" value="ADD">
        </form>

        <section id="details-drawer" class="hide">
            
            <div class="post-details">
                <p class="text-label">Added by</p>
                <div class="image-wrapper" style="background-image: url({{expanded_song_owner_details "picture"}}) "></div>
                <a class="post-name">{{expanded_song_owner_details "name"}}</a>
                <p class="post-time">{{expanded_song_created_at}}</p>
            </div>

            <div class="post-details">
                <p class="text-label">Subs</p>
                {{#each expanded_song_details 'subs'}}
                    {{> commentSub}}
                {{/each}}
            </div>

            <div class="post-details">
                <p class="text-label">Track Source</p>
                <a href="{{expanded_song_track_details "permalink_url"}}" target="_blank" class="soundcloud-link"><i class="fa fa-soundcloud"></i> Soundcloud</a>
            </div>

            <div class="post-details {{show_delete}}">
                <p class="text-label">Options</p>
                <button class="btn btn-small btn-red delete-song">Delete Song</button>
                <div class="delete-confirm hide">
                    <p>Are you sure you want to delete this comment?</p>
                    <button class="btn btn-small btn-red delete-comment-confirm">Yes, Delete</button>
                    <button class="btn btn-small btn-tertiary delete-comment-cancel">Cancel</button>
                </div>
            </div>
            
        </section>
        

    </div>
  </section>

</template>

<template name="commentSub">
    <span><a class="comment-sub-link" name="{{sub_name}}">/{{sub_name}}</a></span>
</template>