<template name="player">

    <section id="player">

        <div class="button-wrapper">
    	    <button id="song-previous" class=""><i class="fa fa-backward"></i></button>
    	    <button id="song-play"><i class="fa fa-2x fa-play"></i></button>
    	    <button id="song-pause" class="hide"><i class="fa fa-2x fa-pause"></i></button>
    	    <button id="song-next" class=""><i class="fa fa-forward"></i></button>
    	</div>

    	<div class="detail-wrapper">
        	<div class="flex-container">
                <div class="song-tracker-container">
                    <div class="duration duration-played hidden-mobile">
                        
                    </div>
                    <div class="song-tracker">
                        <div class="progress" style="width: {{time_position}}"></div>
                    </div>
                    <div class="duration duration-remaining hidden-mobile">
                  
                    </div>
                </div>
            </div>
        </div>

	</section>
    
    <audio id="player-audio-element"></audio>

</template>