<template name="player">

    <section id="player" class="hidden">
    
        <div class="image-wrapper" style="background-image: url({{player_song_artwork 't67x67'}}) "></div>

        <div class="button-wrapper">
    	    <button id="song-previous" class="disabled"><i class="fa fa-backward"></i></button>
    	    <button id="song-play"><i class="fa fa-2x fa-play"></i></button>
    	    <button id="song-pause" class="hide"><i class="fa fa-2x fa-pause"></i></button>
    	    <button id="song-next" class="disabled"><i class="fa fa-forward"></i></button>
    	</div>

    	<div class="detail-wrapper">
        	<div class="flex-container">
                <div class="song-details hidden-mobile">
                    <h1>{{player_song_details "title"}}<span>&nbsp;&mdash;&nbsp;{{player_song_user_details "username"}}</span></h1>
                </div>
                
                <div class="song-tracker-container">
                    <div class="duration duration-played hidden-mobile">
                        {{time_lapsed}}
                    </div>
                    <div class="song-tracker">
                        <div class="progress" style="width: {{time_position}}"></div>
                    </div>
                    <div class="duration duration-remaining hidden-mobile">
                        {{time_remaining}}
                    </div>
                </div>
            </div>
        </div>

        <div class="favorite-wrapper hidden-mobile">
            <a class="player-favorite {{is_song_favorite}}"><i class="fa fa-lg fa-heart"></i></a>
        </div>

        <div class="comment-wrapper">
            <a class="player-comments">
                <i class="fa fa-lg fa-ellipsis-h"></i>
            </a>
        </div>

	</section>
    
    <!-- Do Not Remove / Used for Chrome Plugin -->
    <section id="song-meta" class="hide">
        <audio id="player-audio-element"></audio>
        <span id="meta-artist">{{player_song_details "username" true}}</span>
        <span id="meta-song">{{player_song_details "title"}}</span>
        <span id="meta-artwork">{{player_song_artwork 'large'}}</span>
    </section>

</template>