<template name="splash">
    <section id="splash">
        <h1 class="logo">
            partying<span>.</span>to<span class="genre-filter genre-filter-1">/music</span><span class="genre-filter genre-filter-2">/deep</span><span class="genre-filter genre-filter-3">/pop</span><span class="genre-filter genre-filter-4">/dub</span><span class="genre-filter genre-filter-5">/tropical</span><span class="genre-filter genre-filter-6">/indie</span><span class="genre-filter genre-filter-7">/hiphop</span>
        </h1>
        <div class="divider"></div>
        <!-- <h2>Discover and discuss the latest and greatest songs and sets.</h2> -->
        <button class="btn-primary sign-in"><i class="fa fa-lg fa-facebook"></i>Enter with Facebook</button>
    </section>
</template>