<template name="subheader">
    <section class="subheader">

        <div class="filter filter-sort">
            <a class="sort-filter selected" name="new">New</a>
            <a class="sort-filter" name="top">Top</a>
        </div>
    
        <div class="filter filter-mix">
            <a class="mix-filter selected" name="all">All</a>
            <a class="mix-filter" name="song">Songs</a>
            <a class="mix-filter" name="mix">Sets</a>
        </div>
        
    </section>
</template>