<template name="user">
    <section class="user-profile">

        <section class="user-header">
            <div class="image-wrapper" style="background-image: url({{profile_picture}}) "></div>
            <h1 class="user-name">{{profile.name}}</h1>
        </section>

        <section class="subheader">

            <div class="filter filter-sort filter-user">
                <a class="user-filter selected" name="favorites">
                    <strong>{{favorite_songs_length 'count'}}</strong>{{favorite_songs_length 'text'}}
                </a>
                <a class="user-filter" name="uploaded">
                    <strong>{{uploaded_songs_length 'count'}}</strong>{{uploaded_songs_length 'text'}}
                </a>
                {{ #if currentUser }}
                    <a class="user-filter" name="settings">Settings</a>
                {{ /if }}
            </div>    

        </section>
        
        <section class="favorite-songs song-tiles">
            {{#each favorite_songs}}
                {{> songTile}}
            {{/each}}
        </section>

        <section class="uploaded-songs hide">
            {{#each uploaded_songs}}
                {{> songTile}}
            {{/each}}
        </section>

    </section>
</template>